body {
    font-family: "Roboto";
    
};

.headerhero-container {
    background-color: #122a2e;
    
};

nav { 
    padding: 20px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    

    .header-logo {
        font-size: 24px;
        color: #ebb496;
    };
    .header-links a {
        font-size: 18px;
        color: #ebb496;
        padding: 20px;
        text-decoration: none;
    };
     a:hover {
         color: #eb5e28;
    };
};

.hero-container {
    padding: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;

    .text-section {
        padding-left: 0;
        padding-right: 100px;
        padding-top: 50px;
        
        h1 {
            font-size: 48px extra-bold;
            color: #ebb496;
        
        };
        p {
            font-size: 18px;
            color: #ebb496;
        };
        button {
            background-color: #000000;
            padding: 10px 40px;
            color: #ebb496;
            border: none;
            border-radius: 7px;
            font-size: 15px;
            cursor: pointer;
        };  
        button:hover {
                color: #eb5e28;
        };
    };

    .hero-img img {
        height: 300px;
        width: 500px;
        padding-right: 0;
        padding-left: 100px;
        padding-top: 50px;
        
    };
};

.img-container {
    h2 {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px; 
        font-size: 48px;
        color: #122a2e;
    };
    .card-container {
        display: flex;
        justify-content: center;
        padding-left: 200px;
        padding-right: 100px;
        div {
            padding: 1em; 
        };

        p {
            font-weight: 300;
            text-align: center;
        };

        img {
            border-radius: 5px;
            border-color: #000000;
            border-style: solid;
            margin-left: 30px;
            cursor: pointer;

        };  
    };
};

.quote-container {
    background-color: #ebb496;
    padding: 1em;
    font-size: 48px;
    font-style: italic;
    text-align: center;
    font-weight: 50;

};

.signup {
    padding: 5em;
};
.signup-container {
    background-color: #122a2e;
    padding: 2em;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    color: #ebb496;

    button {
        padding: 10px 50px;
        border-radius: 5px;
        color: #ebb496;
        background-color: #000000;
    };
};

footer {
    background-color: #122a2e;
    padding: 50px 100px;

    p {
        text-align: center;
        font-weight: 50px;
    };

};